body {
  text-align: center;
}

h1 {
  /* font-size: 5em; */
  font-size: 5vw;
}

.dot {
  height: 1em;
  width: 1em;
  clip-path: circle(50%);
  background-color: #bbb;
  display: inline-block;
  margin: 0 1em;
}

.colored {
  background-color: coral;
}

#progressDotsContainer {
  position: absolute;
  /* top: 39em; */
  bottom: 1em;
  width: 99%;
  text-align: center;
}

#key {
  /* background-color: bisque; */
  /* width: 2em;
    height: 2em;
    margin: auto; */
  color: #ff5722;
  font-weight: bolder;
  font-size: 3vw;
}

.showHide {
  /* display: none; */
  /* visibility: visible !important; */
  visibility: hidden;
}
